
#translation-box {
    border-radius: 0px 60px 0px 0px;
    border: 2px solid #169BD5;
    border-bottom: none;
    color: #000;
    background-color: #a2a9b5;
    font-size: 13px;
    padding: 10px;
    height: auto;
    margin-left: 12px;
    position: relative;
    z-index: 999999999999999;
}


#translations{
    font-size: 100%;
    /*font-weight: bold;*/
    float: left;
    margin-top: 1px;
    background-color: #ffffff;
}

#label1{
     font-size: 125%;
     font-weight: bold;
     float: left;
     color: #2763c4;
     margin-top: 3px;
 }

#label2{
    font-size: 125%;
    font-weight: bold;
    float: left;
    color: #2763c4;
    margin-top: 3px;
}

svg {
    background-color: #a2a9b5;
}
circle {
    fill: red;
    stroke: black;
    stroke-width: 1px;
}

.labels{
    width: 25px;
    height: 25px;
    float: left;
    margin-left: 11.8px;
    display: inline-block;
}

.bar.positive {
    fill: steelblue;
}

.bar.negative {
    fill: brown;
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
